<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "cubbic rush"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Cubic rush</name>

  <description>
      My very first platformer
  </description>

  <author href="https://build.phonegap.com" email="alogergely@freemail.hu">
      Hardeep Shoker
  </author>
<icon src="icon.png"/>
</widget>